@font-face {
	font-family: 'MontserratBold';
	src: url('../fonts/Monsterrat/Montserrat-SemiBold.eot');
	src: local('../fonts/Monsterrat/Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../fonts/Monsterrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Monsterrat/Montserrat-SemiBold.woff') format('woff'),
		url('../fonts/Monsterrat/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'MontserratLight';
	src: url('../fonts/Monsterrat/Montserrat-Light.eot');
	src: local('../fonts/Monsterrat/Montserrat Light'), local('Montserrat-Light'),
		url('../fonts/Monsterrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Monsterrat/Montserrat-Light.woff') format('woff'),
		url('../fonts/Monsterrat/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
			font-family: "OpenSansLight";
			src: url("../fonts/openSans/OpenSansLight/OpenSansLight.eot");
			src: url("../fonts/openSans/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/openSans/OpenSansLight/OpenSansLight.woff") format("woff"),
			url("../fonts/openSans/OpenSansLight/OpenSansLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
}
@font-face {
	font-family: 'NautilusPompiliusRegular';
	src: url('../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot');
	src: local('../fonts/NautilusPompiliusRegular-Light/NautilusPompiliusRegular'), local('NautilusPompiliusRegular'),
		url('../fonts/NautilusPompiliusRegular-Light/NautilusPompiliusRegular.eot.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NautilusPompiliusRegular-Light/NautilusPompiliusRegular.woff') format('woff'),
		url('../fonts/NautilusPompiliusRegular-Light/NautilusPompiliusRegular.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaLight';
	src: url('ProximaNova-Light.eot');
	src: local('../fonts/ProximaNova-Light/Proxima Nova Light'), local('ProximaNova-Light'),
		url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaRg';
	src: url('../fonts/ProximaNova-Light/ProximaNova-Regular.eot');
	src: local('../fonts/ProximaNova-Light/Proxima Nova Regular'), local('ProximaNova-Regular'),
		url('../fonts/ProximaNova-Light/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Light/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaBold';
	src: url('../fonts/ProximaNova-Light/ProximaNova-Bold.eot');
	src: local('../fonts/ProximaNova-Light/Proxima Nova Bold'), local('ProximaNova-Bold'),
		url('../fonts/ProximaNova-Light/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Light/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'NautilusPompilius';
	src: url('../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot');
	src: local('../fonts/NautilusPompiliusRegular/NautilusPompilius'), local('NautilusPompilius'),
		url('../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.woff') format('woff'),
		url('../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}