.SumoSelect p{margin:0;}
.SlectBox{width:200px;padding:5px 8px;}
.SelectClass{position:absolute;top:0px;left:0px;right:0px;height:100%;width:100%;border:none;z-index:1;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.SumoSelect > .optWrapper > .options > li label, .SumoSelect > .CaptionCont{user-select:none;-o-user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;}
.SumoSelect{display:inline-block;position:relative;outline:none;}
.SumoSelect:focus > .CaptionCont,.SumoSelect:hover > .CaptionCont{border-color:#7799D0;}
.SumoSelect > .CaptionCont{position:relative;border:1px solid #A4A4A4;min-height:14px;background-color:#fff;border-radius:2px;margin:0px;}
.SumoSelect > .CaptionCont > span{display:block;padding-right:30px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;cursor:default;}
.SumoSelect > .CaptionCont > label{position:absolute;top:0px;right:0px;bottom:0px;width:30px;}
.SumoSelect > .CaptionCont > label > i{width:16px;height:16px;display:block;position:absolute;top:0px;left:0px;right:0px;bottom:0px;margin:auto;background-repeat:no-repeat;opacity:1;width: 0;height: 0;border-style: solid;border-width: 5px 5px 0 5px;border-color: #101010 transparent transparent transparent;}
.SumoSelect > .optWrapper{top:30px;width:100%;position:absolute;left:0;opacity:0;visibility:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:-100;background:#fff;overflow:hidden;}
.SumoSelect > .optWrapper.open{top:35px;visibility:visible;opacity:1;z-index:1000;}
.SumoSelect > .optWrapper > .options{list-style:none;display:block;padding:0px;margin:0px;overflow:auto;border-radius:2px;max-height:250px;}
.SumoSelect > .optWrapper.isFloating > .options{max-height:100%;}
.SumoSelect > .optWrapper > .options > li{padding:6px 6px;border-bottom:1px solid #F3F3F3;position:relative;}
.SumoSelect > .optWrapper > .options > li:first-child{border-radius:2px 2px 0px 0px;}
.SumoSelect > .optWrapper > .options > li:last-child{border-bottom:none;border-radius:0px 0px 2px 2px;}
.SumoSelect > .optWrapper > .options > li:hover{background-color:#E4E4E4;}
.SumoSelect > .optWrapper > .options > li.sel{background-color:#a1c0e4;}
.SumoSelect > .optWrapper > .options > li label{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;cursor:pointer;}
.SumoSelect > .optWrapper > .options > li span{display:none;}
.SumoSelect > .optWrapper.isFloating{position:fixed;top:0px;left:0px;right:0px;width:90%;bottom:0px;margin:auto;max-height:90%;}
.SumoSelect > .optWrapper > .options > li.disabled{background-color:inherit;pointer-events:none;}
.SumoSelect > .optWrapper > .options > li.disabled *{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;}
.SumoSelect > .optWrapper.multiple .options{margin-top:0;}
.SumoSelect > .optWrapper.multiple .options > li{padding-left:35px;cursor:pointer;position:relative;}
.SumoSelect > .optWrapper.multiple .options > li span,
.SumoSelect .select-all > span{position:absolute;display:block;width:30px;top:0px;bottom:0px;margin-left:-35px;}
.SumoSelect > .optWrapper.multiple .options > li span i,
.SumoSelect .select-all > span i{position:absolute;margin:auto;left:0px;right:0px;top:0px;bottom:0px;width:14px;height:14px;border:1px solid #AEAEAE;border-radius:2px;background-color:#fff;}
.SumoSelect > .optWrapper > .MultiControls{display:none;border-top:1px solid #ddd;background-color:#fff;}
.SumoSelect > .optWrapper.multiple.isFloating > .MultiControls{display:block;margin-top:5px;position:absolute;bottom:0px;width:100%;}
.SumoSelect  .optWrapper.multiple  .MultiControls{display:none;}
.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p{padding:6px;}
.SumoSelect > .optWrapper.multiple > .MultiControls > p{display:inline-block;cursor:pointer;padding:12px;width:50%;box-sizing:border-box;text-align:center;}
.SumoSelect > .optWrapper.multiple > .MultiControls > p:hover{background-color:#f1f1f1;}
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk{border-right:1px solid #DBDBDB;border-radius:0px 0px 0px 3px;}
.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel{border-radius:0px 0px 3px 0px;}
.SumoSelect > .optWrapper.isFloating > .options > li{padding:12px 6px;}
.SumoSelect > .optWrapper.multiple.isFloating > .options > li{padding-left:35px;}
.SumoSelect > .optWrapper.multiple.isFloating{padding-bottom:43px;}
.SumoSelect > .optWrapper.multiple .options > li.selected span i,
.SumoSelect .select-all.selected > span i,
.SumoSelect .select-all.partial > span i{background-color:rgb(104, 180, 45);;box-shadow:none;border-color:transparent;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');background-repeat:no-repeat;background-position:center center;}
.SumoSelect.disabled{opacity:0.7;cursor:not-allowed;}
.SumoSelect.disabled > .CaptionCont{border-color:#ccc;box-shadow:none;}
.SumoSelect .select-all{margin-top:13px;border-radius:3px 3px 0px 0px;position:relative;background-color:#fff;padding:8px 0px 3px 35px;font-size: 12px;}
.SumoSelect .select-all > span i{cursor:pointer;}
.SumoSelect .select-all.partial > span i{background-color:#ccc;}
.SumoSelect > .optWrapper > .options > li.optGroup{padding-left:5px;text-decoration:underline;}