@import "_varibles.scss";
@import "_mixin.scss";
@import "libs";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px 'OpenSansRegular',Arial, sans-serif;
	height: 100%;
}
.container-fluid{
	max-width: 1250px;
	margin: 0 auto;
}
a {
	text-decoration: none;
	&:focus,&:hover{
		text-decoration: none;
		outline: none;
	}
}
* {
	outline: none;
}
/*SELECT STYLE*/
.styled-select {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	border: none;
	z-index: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
.example__select {
	margin-bottom: 30px;
}
.SumoSelect ul li.disabled {
	display: none;
}
.SumoSelect {
	width: 100%;
	height: 52px;
	cursor: pointer;
	max-width: 100%;
}
.SumoSelect .CaptionCont.SlectBox.clicked {
	border-color: #069edb;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
}
.SumoSelect .CaptionCont.SlectBox.clicked i:after {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.SumoSelect:hover .CaptionCont {
	border-color: #069edb;
}
.SumoSelect:focus .CaptionCont {
	border-color: #bfd4eb;
}
.SumoSelect .CaptionCont {
	cursor: pointer;
	border: 1px solid #a7c5d1;
	width: 100%;
	max-width: 100%;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
	font-size: 16px;
	line-height: 20px;
	padding-left: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 33px;
}
.SumoSelect .CaptionCont .placeholder {
	color: #9cbcc6;
}
.SumoSelect .CaptionCont span {
	cursor: pointer;
}
.SumoSelect .CaptionCont label {
	width: 16px;
	height: 8px;
	right: 14px;
	cursor: pointer;
}
.SumoSelect .CaptionCont label i {
	border: 0;
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 100%;
}
.SumoSelect .CaptionCont label i:after {
	position: absolute;
	left: 2px;
	color: #099fdb;
	top: 18px;
	content: "\33";
	font-family: "icomoon";
	font-size: 7px;
	font-style: normal;
	-webkit-transition: all 0.24s;
	-o-transition: all 0.24s;
	-moz-transition: all 0.24s;
	transition: all 0.24s;
}
.SumoSelect .optWrapper.open {
	max-height: 160px;
	top: 40px;
	border: 1px solid #dde3e3;
}
.SumoSelect .optWrapper {
	-webkit-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	transition: opacity 0.25s;
}
.SumoSelect .optWrapper .options {
	padding: 0;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}
.SumoSelect .optWrapper .options li {
	border: 0;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	list-style: none;
	margin: 0;
}
.SumoSelect .optWrapper .options li:before {
	content: none;
}
.SumoSelect .optWrapper .options li:after {
	content: none;
}
.SumoSelect .optWrapper .options li:hover {
	background: none;
}
.SumoSelect .optWrapper .options li label {
	padding-left: 15px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-size: 14px;
	display: block;
	color: #322e2f;
	padding-right: 30px;
	line-height: 19px;
	cursor: pointer;
	-webkit-transition: color 0.24s;
	-o-transition: color 0.24s;
	-moz-transition: color 0.24s;
	transition: color 0.24s;
}
.SumoSelect .optWrapper .options li label:hover {
	color: #0188e5;
}
.SumoSelect .optWrapper .options li:before {
	content: none;
}
.SumoSelect .optWrapper .options li:first-child {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.SumoSelect .optWrapper .options:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: -webkit-calc(100% - 84px);
	width: -moz-calc(100% - 84px);
	width: calc(100% - 84px);
	height: 1px;
	background-color: #a7c5d1;
}
.SumoSelect .optWrapper.open {
	top: 42px;
	border: 1px solid #069edb;
	border-top: 0;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}
.SumoSelect .jspDrag {
	width: 12px;
	background-color: #ed1a3b;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 0;
	left: -6px;
	-webkit-transition: all 0.24s;
	-o-transition: all 0.24s;
	-moz-transition: all 0.24s;
	transition: all 0.24s;
}
.SumoSelect .jspHover {
	background-color: #ff3050;
}
.SumoSelect .jspActive {
	background-color: #ce0020;
}
.SumoSelect .jspTrack {
	background-color: #cfe0e7;
	width: 1px;
	left: 3px;
}
.SumoSelect .jspVerticalBar .jspCap {
	height: 18px;
}
.wrapper {
	min-width: 280px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;

}
/* Header
-----------------------------------------------------------------------------*/
.header {
	min-height: auto;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;	
	background-color: #1a7e80;
}
/*  */
* {
  margin: 0;
  padding: 0; 
}

#nav-icon4 {
	width: 70px;
	height: 60px;
	position: relative;
	margin: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	border-right: 1px solid #489899;
	border-radius: 0;
}

#nav-icon4 span {
	display: block;
	position: absolute;
	height: 2px;
	width: 30px;
	background: #fff;
	border-radius: 9px;
	opacity: 1;
	left: 20px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
/* Icon 4 */

#nav-icon4 span:nth-child(1) {
	top: 19px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
	top: 29px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
	bottom: 19px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 19px;
	left: 25px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 40px;
	left: 25px;
}

/*  */
.exampleMenu {
	padding: 0;
	height: 60px;
	position: relative;
	z-index: 1000;
	&__toggle{
		font-size: 0;
		outline: none;
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 4px;
	}
	&__menu {
		padding: 0;
		margin: 0;
		width: 100%;
		overflow: hidden;
		display: none;
		position: absolute;
		top: 60px;
	}
	&__item {
		list-style: none;
	}
	&__link {
		text-align: center;
		display: block;
		text-decoration: none;
		padding-top: 15px;
		position: relative;
		padding-left: 20px;
		letter-spacing: 0.5px;
		padding-right: 20px;
		padding-bottom: 17px;
		background-color: #fff;
		color: #333333;
		text-transform: uppercase;
		-webkit-transition: 0.24s all;
		-o-transition: 0.24s all;
		-moz-transition: 0.24s all;
		transition: 0.24s all;
		text-decoration: none;
		border-bottom: 1px solid #333333;
		&:hover {
			
		}
 	}
}
.userBlock{
	display: inline-block;
	vertical-align: top;
	width: 60%;
	float: right;
	&__link{
		display: inline-block;
		vertical-align: top;
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
		font-family: "PTSansRegular";
		text-decoration: none;
		padding: 21px 0;
		float: right;
		padding-right: 17px;
		padding-left: 50px;
	}
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 320px;
}
.breadcrumbs{
	margin-top: 30px;
	&__list{
		white-space: nowrap;
		overflow: hidden;
		border-top: 1px solid #f2f2f2;
	}
	&__item{
		display: inline-block;
		vertical-align: top;
	}
	&__link{
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		padding: 11px;
	}
	&__text{

	}
	.jspHorizontalBar{
		position: absolute;
		bottom: 0;  /* можно прижать к нижнему или верхнему краю */
		left: 0;
		height: 2px;  /* высота слушит шириной полосы прокрутки */
		background: #f2f2f2;
		display: block;
	}
	.jspContainer{
		height: 44px!important;
	}
	.jspDrag{
		border-color: #069edb;  /* цвет ползунка, или фоновый рисунок  */
		cursor: pointer;
		background-color: #069edb;
	}
}
.exampleTableBlock{
	padding-top: 25px;
	padding-bottom: 7px;
	position: relative;
	&::before, &::after{
		@include pseudo(inline-block);
		bottom: -2px;
		height: 1px;
		background-color: #c2e5f2;
		width: 100%;
		margin: auto;
	}
	&::before{
		left: -15px;
	}
	&::after{
		right: -15px;
	}
}
.exampleTable {
	&__menuItem{
		color: #8193a1;	
		text-transform: uppercase;
		font-family: 'PTSansBold';
		&--relative{
			position: relative;
			top: -5px;
		}
	}
	&__contentItem{
		font-family: "PTSansRegular";
		font-size: 13px;
		letter-spacing: -0.3px;

	}
	@at-root .exampleTableContentItem{
		&__change{
			letter-spacing: -0.6px;
		}
		&__name{
			font-size: 16px;
			display: block;
			text-decoration: none;
			color: #44a4ee;
			letter-spacing: 0;
			position: relative;
			top: -2px;
		}	
	}
	@at-root .st-key{
		text-align: left;
		font-size: 12px;
		width: 30%;
		line-height: 14px;

	}
	@at-root .st-val {
		width: 60%;
		padding-bottom: 18px;
	}
}
.sortingBlock{
	margin-top: 50px;
    padding-bottom: 6px;
    border-bottom: 2px solid #c2e5f2;
    position: relative;
    &::before, &::after{
    	@include pseudo(inline-block);    	
    	margin: auto;
		width: 100%;
		height: 2px;
		background-color: #c2e5f2;
		bottom: -2px;
    }
    &::before{
    	left: -15px;
    }
    &::after{
    	right: -15px;
    }
	.SumoSelect{
		height: 42px;
	}
	.SumoSelect .CaptionCont{
		padding-top: 10px;
		padding-bottom: 8px;	
	}
}
.stacktable.small-only{
}
.searchBlock{
	background-color: #f2f2f2;
	margin-top: 20px;
}
.search{
	margin-top: 40px;
	margin-bottom: 40px;
	.jspDrag {
		border-color: gray;
		cursor: pointer;
		background-color: gray;
		width: 0;
		border-top-right-radius: 2px;
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;

	}
	form{
		height: 50px;
	}
	ul{
		height: 420px;
		overflow: hidden;
		display: none;
	}
	li{
		border-bottom: 1px solid #e7efee;
		padding: 10px 30px;
	}
	ul li span{
		display: block;
		font-family: "PTSansRegular";
		color: #afb1b3;

	}
}
/*  */
.search{
	max-width: 500px;
	border: 1px solid #333333;
	border-radius: 6px;
	@at-root .formSearch{
		&__group{
			position: relative;
		}
		&__text{
			display: inline-block;
			width: 60%;
			vertical-align: top;
			font-size: 21px;
			line-height: 21px;
			padding-top: 12px;
			padding-left: 20px;
		}
		&__input-wrapper{
			width: 0px;
			height: 50px;
			background: #41484a;
			text-align: center;
			line-height: 45px;
			padding-right: 50px;
			transition: all 0.5s ease;
			border-radius: 5px;
			position: relative;
			box-shadow: 0 0 10px rgba(0,0,0,0.5);
			position: absolute;
			right: 0;
			top: 0;
			&.active{
				width: 100%;
				padding-left: 25px;
				transition: all 0.5s ease;
			}
		}
		&__input{
			border: 0px;
			border-bottom: 2px solid #fff;
			background: transparent;
			width: 0%;
			padding: 5px 0;
			outline: none;
			color: #fff;
			font-weight: bold;
			transition: all 0.3s ease;
			&.active{
				width: 98%;
				padding-left: 5px;
				transition: all 0.5s 0.8s ease;
			}
			&::placeholder {
				color: #fff;
			}
		}
		.fa {
			color: #ffffff;
			position: absolute;
			right: 15px;
			top: 15px;
			font-size: 22px;
			cursor: pointer;
		}
	}
}
.sliderSection{
	background-color: #3b4954;
}
.slider {
	.slick-prev:before,	.slick-next:before, {
		font-family: 'FontAwesome';
		font-size: 20px;
		color: #000;
	}
	.slick-prev:before{
		content: "\f060";
	}
	.slick-next:before{
		content: "\f061";
	}
	&__item{
		width: 300px;
		margin-right: 20px;
	}
	@at-root .sliderItem{		
		&__link {
			display: block;
		}
		&__img{
			display: table;
			height: 300px;
			margin: 0 auto;

		}
		&__img-cell{
			display: table-cell;
			vertical-align: middle;

		}
		&__image{
			display: block;
			max-width: 100%;
			height: auto;
		}
		&__name{
			text-align: center;
		}
		&__name-link{
			display: inline-block;
			font-size: 20px;
		}
		&__text{
			font-size: 16px;
			line-height: 21px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}
.gallerySection{
	background-color: #f2f2f2;
	padding-top: 40px;
	padding-bottom: 40px;
}
.gallery{
	@at-root .galleryFor {
		&__image{
			margin: 0 auto;
		}
	}
	@at-root .galleryNav{
		&__img-wrapper{
			width: 200px;
			display: inline-block;
			vertical-align: top;
		}
		&__img{
			max-width: 100%;
			height: auto;
			display: block;
		}
	}

}

.news{
	padding-top: 30px;
}
.article{
	&__title{
		text-align: center;
		font-size: 30px;
		line-height: 54px;
		margin-bottom: 20px;
	}
	&__text{
		font-size: 16px;
		line-height: 24px;
	}
}
.btn{
	&--showMore{
		display: block;
		padding: 20px;
		color: #fff;
		background-color: #337ab7;
		border-color: #2e6da4;
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		max-width: 200px;
		margin: 0 auto;
		margin-bottom: 30px;
		margin-top: 30px;
		transition: all 0.3s linear;
		&:hover{
			color: #fff;
			background-color: #286090;
			border-color: #204d74;
		}
		&:focus{
			color: #fff;
		}
	}
}


/*  */
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -320px auto 0;
	min-width: 280px;
	min-height: 320px;
	position: relative;
	background-color: #3b4954;
	font-family: "OpenSansRegular";
	padding-top: 50px;
}

@media screen and (min-width: 768px){
	.exampleMenu{
		&__item{
			width: 20%;
		}
		&__link{
		}
	}
	.exampleTable {
		&__th{
			text-align: left;
		}
		&__menuItem{
			color: #8193a1;	
			text-transform: uppercase;
			font-family: 'PTSansBold';
			&--relative{
				position: static;
			}
		}
		@at-root .exampleTableContentItem{
			&__name{
				position: static;
			}	
		}
	}
	.slider{
		padding: 0;
		.slick-next{
			right: 10px;
		}
		.slick-prev{
			left: 10px;
		}
	}
}
@media screen and (min-width: 1200px){
	.exampleMenu {
		padding: 0;
		height: 60px;
		position: relative;
		z-index: 1000;
		&__toggle{
			display: none;
		}
		&__menu {
			display: inline-block!important;
			width: 60%;
			box-sizing: border-box;			
			position: static;
		}
		&__item{
			display: inline-block;
			vertical-align: top;
			width: 19%;
		}
		&__link{
			border-bottom: none;
			background-color: transparent;
			color: #fff;
			padding-top: 20px;
			padding-bottom: 22px;

		}

	}
	.userBlock{
		width: 40%;
	}
}